{% extends "base.html" %}

{% block head_title %}Книжный магазин{% endblock %}

{% block content %}
<div class="card border-light mb-3 col-lg-4" style="min-width: 75rem;">
    <div class="card-header" align="center">
        Добро пожаловать в книжный магазин{% if request.user.is_authenticated and user.first_name%}, {{user.first_name}}{% endif %}</div>
    <div class="card-body table-responsive">
        Предлагаем Вашему вниманию новые издания 2021 года:
        <div class="row" align="center">
            {% for book in books %}
            <div class="card border-light col-md-3" style="width: 20rem;">
                <div class="card-body">
                    <a href="{% url 'book' book.id_book %}">
                        <img src="{{ book.image.url }}" height="200px" width="130px">
                    </a>
                    <div class="card-text">{{book.title}}</div>
                    {% for author in book.id_bookauthor %}
                    <div class="card-text"><small>{{author.id_author}}</small></div>
                    {% endfor %}
                    <div class="card-text"><strong>{{book.price}} р.</strong></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}