{% if not request.user.is_staff %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <strong class="blue-text">Книжный магазин</strong>
        </a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'catalog' %}">Каталог
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'about' %}">О нас
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Личный кабинет</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'user' %}">Профиль</a>
                            <a class="dropdown-item" href="{% url 'orders' pk=user.id%}">Заказы</a>
                        </div>
                      </li>
                    <li class="nav-item"> <a href="{% url 'cart' pk=user.id%}"
                           class="nav-link ">
                            <span> Корзина </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span> Выход </span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <span> Войти </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">
                            <span> Зарегистрироваться </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% else %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">
                        <span> Панель администратора </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <span> Выход </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endif %}